$laptop-width = 1440px

$z-index {
  front 9999,
  hamburger 900,
  spmenu 800,
  selectbox 800,
  header 700,
  footer 700,
  followtop 650,
  follow 600,
  followbottom 550,
  stable 500,
  hover 400,
  masktext 300,
  mask  200,
  tag 100,
  top 100,
  base 0,
  back -1
}

$ratioName {
  square (12 / 1),
  normal (12 / 4 * 3),
  silver (12 / 1.414),
  golden (12 / 1.6),
  logo (12 / 1.66),
  wide (12 / 16 * 9),
  cinema (12 / 20 * 47),
  banner (12 / 3),
  bronze (12 * 3.303)
}

//break-point
$breakpoint-small = 896px
$breakpoint-medium = 1200px

$breakpoints {
  sm 'screen and (max-width:'+ $breakpoint-small +')',
  md 'screen and (min-width:' + $breakpoint-small + 1 +')',
  lg 'screen and (min-width:'+ $breakpoint-medium +')',
  xl 'screen and (min-width:' + g.$laptop-width + ')',
}

$color{
  dark #000,
  pale #fff
}

// font
$main-font = 'Noto Sans JP', -apple-system, blinkmacsystemfont, yu gothic, yugothic, verdana, meiryo,sans-serif
$en-font = 'Barlow Semi Condensed', -apple-system, blinkmacsystemfont, sans-serif

// weight
$normal = 400
$semi-bold = 500
$bold = 700

// line-height
$default-line = 1.6

//size
$inner-width = 1200px
$narrow-width = 768px

// フォントの縮小率
$jumpRatio = 3

// spの余白
$sp-side = 16px

